:host {
    display: block;
}

mat-card {
    padding: 16px;
    border-radius: 10px;
    width: 100%;
}

mat-card {
    background: var(--background) !important;
    box-sizing: border-box;

    &.full-width {
        width: 100% !important;
    }
}

::ng-deep .mat-radio-container {
    display: none;
}


