/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
}

:root {
    --primary: #1184ff;
    --accent: #06FCCA;
    --warning: #FF4004;
    --background: #141936;
    --app-bar: #1A1F3D;
    --card-bg: #1A1F3D;
    --background-variant_1: #383d58;
    --foreground: #545977;
    --white: #fff;
}

.space {
    flex: 1 1 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

span.facebook, span.google, span.linkedin, span.office {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.facebook {
    background: url('./assets/images/facebook.svg') no-repeat;
}

.google {
    background: url('./assets/images/google.svg') no-repeat;
}

.linkedin {
    background: url('./assets/images/linkedin.svg') no-repeat;
}

.office {
    background: url('./assets/images/office.svg') no-repeat;
}

.container {
    max-width: calc(100vw * 0.9);
    width: 100%;
    margin: 0 auto;
}


button[mat-raised-button], button[mat-button], a[mat-raised-button], a[mat-button] {
    padding: 0 30px;
    border-radius: 25px;
    width: 112px;
}

input[matInput] {
    color: var(--white);
}

[matSuffix] {
    font-size: 18px !important;
}

mat-slide-toggle {
    color: var(--white);
}

.mat-stepper-horizontal {
    background: transparent !important;
}

.mat-radio-checked .mat-radio-label .mat-radio-label-content {
    solar-card {
        mat-card {
            border: 2px solid var(--accent) !important;
            transition: all 50ms;
        }
    }
}